services:
  postgres:
    image: postgres:18-alpine
    ports:
      - "${POSTGRES_PORT:-5432}:5432"
    environment:
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      POSTGRES_DB: ${POSTGRES_DB}
    volumes:
      - ./init-scripts:/docker-entrypoint-initdb.d 
      - postgres_data:/var/lib/postgresql/data
  adminer:
    image: adminer:5
    container_name: eav_adminer
    restart: always
    ports:
      - "8081:8080"
    depends_on:
      - postgres
  migrate:
    image: flyway/flyway
    volumes:
      - ./migrations:/flyway/sql
    command: -url=jdbc:postgresql://postgres:5432/${POSTGRES_DB} -user=${POSTGRES_USER} -password=${POSTGRES_PASSWORD} migrate
    depends_on:
      - postgres

volumes:
  postgres_data: